<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Обо мне</title>
</head>
<body bgcolor="MediumSeaGreen">
    <h1>Обо мне</h1>
    <p>Меня зовут Чоро.</p>
    <p>Мне 17 лет.</p>
    <p>Я учусь в школе №59.</p>
    <img src="https://sun9-14.userapi.com/impg/7Yn15tDygNmHAcAzUgYLd8q3sXGrAPFaXiC5wg/BAO6OEOH4v8.jpg?size=200x133&quality=96&crop=56,0,388,258&sign=f1eed171722a8688c0d2719d394fd481&c_uniq_tag=ubGP_jKJ_oDQWrhuXMctz0NdlauhKBBaC6OmQFYEv5c&type=album"
         alt="собака из стены">
</body>
</html>